h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
body {
  width: 600px;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 20px;
  margin: 0px auto;
  background: rgb(255, 255, 255, 0.9);
}

h1 img {
  width: 400px;
  height: 300px;
}

.center,
h2,
h1 {
  text-align: center;
}
body {
  font-family: "DM Serif Text", sans-serif;
}
html {
  background: url(img/greyyyyd.jfif);
  background-size: 1920px, 1080px;
}
h1 {
  background: rgb(17, 16, 16);
  color: white;
  border-radius: 0px;
}
